/* CSS */
:root { font-family: 'Times New Roman', serif; }

/* this will target all the h1 elements */
h1 {
  font-size: 2em;
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', serif;
  font-weight: bold; /* make headings bold */
}

/* this will target the element with the id "special" */
#special {
  font-weight: bold;
  background-color: yellow;
}

/* this will target all the elements with the class "highlight" */
.highlight {
  text-decoration: underline;
}

body {
  font-family: 'Times New Roman', serif;
  font-size: 11px;
  letter-spacing: 0.005em;
  line-height: 15px;
}

@supports (color: color(display-p3 0.65 0.9137 0.6666)) {
  body {
      background-color: color(display-p3 0.65 0.9137 0.6666);
  }
}

/* Fallback color for older browsers */
body {
  background-color: #a6e8aa;
}
